/*  1 Базовая стилизация */

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	min-width: 1000px;
	max-width: 1500px;
	margin: 0 auto;
	background-color: #fdfcfb;
	background-image: url(../img/background.png);
	background-repeat: repeat-y;
	background-position: top center;
	font-family: "Calibri", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #585857;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.main-header {
	background: #fefefe;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
}
.main-navigation a {
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	text-transform: uppercase;
	color: #8d8c8c;
	transition: color 0.5s;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #d42819;
}
.main-navigation a:active {
	color: #000000;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
	color: #d42819;
}
.greeting {
	font-size: 33px;
	line-height: 39px;
	color: #7e7e7e;
	text-align: center;
}
.title {
	color: #d42819;
	font-weight: 400;
}
.categories-list a {
	font-size: 14px;
	line-height: 20px;
	color: #9b9b9b;
	text-decoration: none;
	text-transform: uppercase;
}
.categories-list a:hover,
.categories-list a:focus {
	color: #d42819;
}
.categories-list a:active {
	color: #000000;
}
.category-current a,
.category-current a:hover,
.category-current a:focus,
.category-current a:active {
	color: #d42819;
}
.item-title {
	font-size: 16px;
	line-height: 22px;
	color: #4f4e4e;
}
.item-category {
	color: #868585;
}
.item-image {
	width: 218px;
	height: 173px;
}
.item-image img {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
	background-color: #fefefe;
}
.pagination-list a {
	font-family: "Arial", sans-serif;
	line-height: 24px;
	color: #b5b3b3;
	text-decoration: none;
}
.pagination-list a:hover,
.pagination-list a:focus {
	color: #d42819;
}
.pagination-list a:active {
	color: #000000;
}
.current-page a,
.current-page a:hover,
.current-page a:focus,
.current-page a:active {
	color: #d42819;
}
.footer-search h2,
.footer-info h2,
.footer-tags h2 {
	text-align: center;
	color: #494848;
	font-size: 16px;
	line-height: 22px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
}
.search-intro {
	color: #666666;
}
.search-form input {
	background-color: #241103;
	color: #d42819;
	font-style: italic;
	border: none;
	background-color: rgba(62, 60, 61, 0.12);
	-webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.search-form input::-webkit-input-placeholder {
	color: #d42819;
	font-size: 14px;
	letter-spacing: 0.1px;
	font-style: italic;
}
.search-form input:-ms-input-placeholder {
	color: #d42819;
	font-size: 14px;
	letter-spacing: 0.1px;
	font-style: italic;
}
.search-form input::placeholder {
	color: #d42819;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.1px;
	font-style: italic;
}
.search-button {
	border: none;
	background-color: #241103;
	background-color: rgba(62, 60, 61, 0.12);
	-webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), inset 1px 1px 1px rgba(0, 0, 0, 0.6);
	color: #d42819;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	cursor: pointer;
}
.tags-list a {
	text-decoration: none;
	font-style: italic;
	letter-spacing: 0.1px;
	color: #666666;
}
.tags-list a:hover,
.tags-list a:focus {
	color: #d42819;
}
.tags-list a:active {
	color: #000000;
}
.footer-copyright p {
	color: #666665;
}
.footer-copyright a {
	color: #666665;
	text-decoration: none;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #d42819;
}
.footer-copyright a:active {
	color: #000000;
}

/*  2 Сетка */

body {
	padding-top: 105px;
	padding-bottom: 150px;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.main-header {
	margin-bottom: 80px;
}
.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.intro {
	margin-bottom: 45px;
}
.catalog {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}
.catalog-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.main-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-search,
.footer-info,
.footer-tags {
	width: 270px;
}
.footer-copyright {
	width: 100%;
	text-align: right;
}

/*  3 Декор */
.header-logo {
	width: 120px;
	height: 120px;
	margin-top: -18px;
	margin-bottom: -18px;
	margin-left: -20px;
}
.main-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.main-navigation a {
	display: block;
	padding-top: 32px;
	padding-bottom: 29px;
	padding-left: 20px;
	padding-right: 20px;
}
.site-navigation-current a {
	position: relative;
}
.site-navigation-current a::after {
	content: "";
	position: absolute;
	height: 1px;
	left: 20px;
	right: 20px;
	bottom: 16px;
	background-color: #d42819;
}
.header-social {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: -4px;
	display: flex;
}
.header-social a {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-left: 6px;
}
.social-fb {
	background-image: url(../img/social-fb.svg);
	background-repeat: no-repeat;
}
.social-tw {
	background-image: url(../img/social-tw.svg);
	background-repeat: no-repeat;
}
.social-dribbble {
	background-image: url(../img/social-dribbble.svg);
	background-repeat: no-repeat;
}
.social-behance {
	background-image: url(../img/social-behance.svg);
	background-repeat: no-repeat;
}
.social-gp {
	background-image: url(../img/social-gp.svg);
	background-repeat: no-repeat;
}
.social-rss {
	background-image: url(../img/social-rss.svg);
	background-repeat: no-repeat;
}
.greeting {
	margin: 0;
	padding: 0;
	padding-left: 55px;
	padding-right: 55px;
}
.categories-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-bottom: 35px;
}
.categories-list a {
	padding-right: 12px;
	position: relative;
}
.categories-list a::after {
	content: "/";
	position: absolute;
	right: 0;
	right: 4px;
	color: #9b9b9b;
}
.categories-list li:last-child a {
	padding-right: 0;
}
.categories-list li:last-child a::after {
	display: none;
}
.catalog-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.catalog-item {
	margin-right: 29px;
	margin-bottom: 47px;
}
.catalog-item:nth-child(4n) {
	margin-right: 0;
}
.item-title {
	margin: 0;
	padding: 0;
}
.item-category {
	display: block;
	margin-bottom: 13px;
}
.item-image {
	margin: 0;
	padding: 0;
	position: relative;
}
.item-details {
	position: absolute;
	width: 53px;
	height: 53px;
	bottom: -26px;
	right: 8px;
	border-radius: 50%;
	background-image: url(../img/loupe.png);
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.2s;
}
.item-details:hover,
.item-details:focus {
	transform: scale(1.2);
}
.item-details:active {
	transform: scale(1);
}
.catalog-list {
	margin-bottom: 25px;
}
.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.pagination-list a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border: 1px solid #b8b9b9;
	border-radius: 1px;
	background-color: transparent;
}
.first-page {
	background-color: #ffffff;
	background-image: url(../img/button-first.png);
	background-repeat: no-repeat;
	background-position: center;
}
.prev-page {
	background-color: #ffffff;
	background-image: url(../img/button-prev.png);
	background-repeat: no-repeat;
	background-position: center;
}
.next-page {
	background-color: #ffffff;
	background-image: url(../img/button-next.png);
	background-repeat: no-repeat;
	background-position: center;
}
.last-page {
	background-color: #ffffff;
	background-image: url(../img/button-last.png);
	background-repeat: no-repeat;
	background-position: center;
}
.footer-search h2,
.footer-info h2,
.footer-tags h2 {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-bottom: 23px;
}
.search-intro {
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
}
.search-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.search-form input {
	box-sizing: border-box;
	width: 225px;
	padding: 10px 15px;
}
.search-button {
	padding: 10px;
	transition: font-weight 0.3s;
}
.search-button:hover,
.search-button:focus {
	font-weight: 700;
}
.info-paragraph {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.tags-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tags-list li {
	width: 45%;
	margin-bottom: 15px;
	position: relative;
}
.tags-list li::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 66px;
	border-bottom: 1px dotted #666666;
}
.tag-quantity::before {
	content: " (";
}
.tag-quantity::after {
	content: ")";
}
.footer-copyright {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 90px;
}
.footer-copyright::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: -20px;
	background-color: rgba(0, 0, 0, 0.56);
}

